<header class="header">
<div class="inner">

<h1 class="header-logo"><a href=""><img src="img/header-logo.png" alt="ロゴ"></a></h1>

<nav class="header-nav">
	<ul>
		<li><a href="#">MENU1</a></li>
		<li><a href="#">MENU2</a></li>
		<li><a href="#">MENU3</a></li>
		<li><a href="#">MENU4</a></li>
		<li><a href="#">MENU5</a></li>
	</ul>
</nav><!-- /header-nav -->

<div class="header-drawer">
	<div class="drawer">
		<div class="drawer-icon js-drawer for-drawer" data-target="for-drawer">
			<div class="drawer-bars">
					<span class="drawer-bar"></span>
					<span class="drawer-bar"></span>
					<span class="drawer-bar"></span>
			</div>
		</div>
		<div class="drawer-close js-drawer for-drawer"></div>
		<div class="drawer-content for-drawer">

		</div>
	</div>
</div><!-- /header-drawer -->

</div><!-- /inner -->
</header><!-- /header -->
